<!-- TRENNER -->

<section id="contact-header" class="trenner black parallax-section" >
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Contact</h2>
			</div>
		</div>
	</div>		
</section>

<!-- CONTACT section -->

<section id="contact" class="sec-pic-cyclone">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 wow fadeIn" data-wow-delay="0.1s">

				<img width="128" height="128" src="/static/images/arcticio.logo.trans.128.png" style="float: left; margin-right: 12px" /> 
				<p>
					Hi, thanks for your interest. I really appreciate your feedback. The easiest way to reach me is the contact form. Usually I come back to you within 24 hours, assuming a working email address was provided.
				</p>
				<p class="text-right">
					Torsten, Spring 2016.
				</p>
				<p>
				</p>

				<p style="margin-top: 18px"><strong>Powered By:</strong></p>
				<ul class="powered-list">
					<li>
						<a href="https://www.pythonanywhere.com/?affiliate_id=000094cb">
							<img src="/images/pythonanywhere.png" width="48" height="48">
						</a>
						Pythonanywhere.com
						<a href="https://www.pythonanywhere.com/?affiliate_id=000094cb" class=""><i class="fa fa-external-link"></i></a>
					</li>
				</ul>

				<p style="margin-top: 18px"><strong>Photos:</strong></p>
				<ul class="photo-list">
					<li>Christopher Michel<a href="https://www.flickr.com/photos/cmichel67/" class=""><i class="fa fa-external-link"></i></a></li>
					<li>Pfc. Mary Rose Xenikakis<a href="http://www.navy.mil/view_image.asp?id=5987" class=""><i class="fa fa-external-link"></i></a></li>
					<li>National Library of New Zealand<a href="https://www.flickr.com/photos/nationallibrarynz_commons/" class=""><i class="fa fa-external-link"></i></a></li>
				</ul>

				<!--
					<p style="margin-top: 18px"><strong>Data Sources:</strong></p>
					<ul class="source-list">
						<li>1<a href="" class=""><i class="fa fa-external-link"></i></a></li>
					</ul> 
				-->

				<hr style="margin: 20px 0; width: 80%" />

			</div>


			<div class="col-xs-12 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
				<p style="padding-left: 0px;"><strong>Feedback</strong></p>
				<iframe src="/contact/" height="700" style="width: 100%; height:700px" scrolling="no"></iframe>
			</div>


		</div>
	</div>
</section> 