
<!-- TRENNER -->

<section id="data-header" class="trenner grey parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="text-left">Land Ice, Sea Ice &amp; Snow</h2>
            </div>
            <div class="col-xs-4 text-right">
                <!-- <i class="fa fa-info-circle section-tool" title="Info"></i> -->
            </div>
        </div>
    </div>      
</section>



<!-- DATA section -->

<!-- /cache/http/noiv.pythonanywhere.com/latest/ftp/arwguest:guest@cisclient.cis.ec.gc.ca/HRPT-Resolute++ArcticComposite -->

<section id="data" class="parallax-section" >
    <div class="container">


        <div class="row">

        <!-- Explorer -->
            <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                <a href="/explorer"><div><strong>arctic.io</strong></div> Explorer</a>, here a few quick links to the interactive map with latest gridded data
            </div>

            <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7">
                <div class="row">

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/Y65//4-N90-E0" data-time-range="sic-amsr2">
                            <img src="" />
                            <p class="text-center">AMSR2 sea ice conc.</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/2COH//4-N90-E0" data-time-range="sit-smos">
                            <img src="" />
                            <p class="text-center">SMOS sea ice thickness</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/4OmX//4-N90-E0" data-time-range="sit-piomas">
                            <img src="" />
                            <p class="text-center">PIOMAS sea ice thickness</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/16C9//4-N90-E0" data-time-range="sit-cryosat">
                            <img src="" />
                            <p class="text-center">CRYOSAT2 sea ice thickness</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/Hb85//4-N90-E0" data-time-range="sst-avhrr">
                            <img src="" />
                            <p class="text-center">AVHRR sea surface temp.</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    <div class="col-xs-4 col-sm-2 exp-quick-link">
                        <a href="/explorer/H33//4-N90-E0" data-time-range="gfs-forecast">
                            <img src="" />
                            <p class="text-center">GFS Forecast</p>
                            <p class="exp-link-date text-center"></p>
                        </a>                        
                    </div>

                    
                </div>
            </div>


        </div>

        
        <div class="data-gallery" itemscope itemtype="http://schema.org/ImageGallery">


        <!-- Chart Extent full size -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://www.iup.uni-bremen.de:8084/amsr2/"><div><strong>IUP, University of Bremen</strong></div>AMSR2 Sea Ice Extent</a> based on grid cells with at least 15% coverage of sea ice.
                </div>

                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-8 col-lg-7 data-gallery"> 
                    <div class="row" data-name="extent">
                
                        <div class="col-xs-12">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="http://www.iup.uni-bremen.de:8084/amsr2/extent_n_running_mean_amsr2_previous.png" itemprop="contentUrl" data-size="1201x962">
                                    <img src="//ice-pics.appspot.com/pics/?rot=0&width=640&keep=14400&url=http://www.iup.uni-bremen.de:8084/amsr2/extent_n_running_mean_amsr2_previous.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption itemprop="caption description">Sea Ice Extent</figcaption>
                             </figure>
                        </div>

                    </div>
                </div>
            </div>


        <!-- Chart Extent full size -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://nsidc.org/greenland-today/"><div><strong>NSDIC</strong></div>Greenland Melt Extent</a> Cumulative Melt Days shown by the total number of days that melt occurred, year to date. See also DMI's <a href="http://www.dmi.dk/en/groenland/maalinger/greenland-ice-sheet-surface-mass-budget/">Current Surface Mass Budget of the Greenland Ice Sheet</a>
                </div>

                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-8 col-lg-7 data-gallery"> 
                    <div class="row" data-name="greenland">
                
                        <div class="col-xs-12">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="http://nsidc.org/greenland-today/images/greenland_melt_area_plot.png" itemprop="contentUrl" data-size="1800x1100">
                                    <img src="//ice-pics.appspot.com/pics/?rot=0&width=640&keep=14400&url=http://nsidc.org/greenland-today/images/greenland_melt_area_plot.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption itemprop="caption description">Greenland Melt Extend</figcaption>
                             </figure>
                        </div>

                    </div>
                </div>
            </div>


        <!-- ASCAT https://github.com/samsonjs/strftime -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a href="http://manati.star.nesdis.noaa.gov/products/ASCAT.php" target="_blank"><div><strong>NOAA/NESDIS</strong></div>ASCAT Sea Ice Data</a> The daily ice image products are generated from the ASCAT Level 1B sigma0 data which are operationally obtained from EUMETSAT. The images are produced using software that was developed as part of the NASA Scatterometer Climate Record Pathfinder Project. The coverage may vary due to delays in data availability or rev reprocessing.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery"> 
                    <div class="row" data-name="ascat">

                         <div class="col-xs-12 col-sm-6 col-md-9">
                             <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                 <a href="" data-off="-0Y-1d http://manati.star.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="contentUrl" data-size="1170x1170">
                                     <img class="img-responsive" src="" data-off="-0Y-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=288,288,288,288&width=480&keep=14400&url=http://manati.orbit.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="thumbnail" alt="" />
                                 </a>
                                 <figcaption itemprop="caption description" data-off="-0Y-1d ASCAT %Y-%m-%d"></figcaption>
                              </figure>
                        </div>
                         
                         <div class="col-xs-4 col-sm-6 col-md-3">
                             <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                 <a href="" data-off="-1Y-1d http://manati.star.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="contentUrl" data-size="1170x1170">
                                     <img class="img-responsive" src="" data-off="-1Y-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=288,288,288,288&width=220&keep=14400&url=http://manati.orbit.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="thumbnail" alt="" />
                                 </a>
                                 <figcaption itemprop="caption description" data-off="-1Y-1d ASCAT %Y-%m-%d"></figcaption>
                              </figure>
                         </div>
                         
                         <div class="col-xs-4 col-sm-6 col-md-3">
                             <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                 <a href="" data-off="-2Y-1d http://manati.star.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="contentUrl" data-size="1170x1170">
                                     <img class="img-responsive" src="" data-off="-2Y-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=288,288,288,288&width=220&keep=14400&url=http://manati.orbit.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="thumbnail" alt="" />
                                 </a>
                                 <figcaption itemprop="caption description" data-off="-2Y-1d ASCAT %Y-%m-%d"></figcaption>
                              </figure>
                         </div>
                        
                         <div class="col-xs-4 col-sm-6 col-md-3">
                             <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                 <a href="" data-off="-3Y-1d http://manati.star.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="contentUrl" data-size="1170x1170">
                                     <img class="img-responsive" src="" data-off="-3Y-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=288,288,288,288&width=220&keep=14400&url=http://manati.orbit.nesdis.noaa.gov/ascat_images/ice_image/msfa-NHe-a-%Y%j.sir.gif" itemprop="thumbnail" alt="" />
                                 </a>
                                 <figcaption itemprop="caption description" data-off="-3Y-1d ASCAT %Y-%m-%d"></figcaption>
                              </figure>
                         </div>
                        
                    </div>   
                </div>
                


            </div>


        <!-- CRYOSAT -->
            <div class="row">
                
                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a href="http://www.cpom.ucl.ac.uk/csopr/index.html" target="_blank"><div><strong>NERC/CPOM</strong></div>CryoSat 2 NRT Data</a> CryoSat uses a synthetic aperture radar over areas of sea ice to measure a much smaller footprint than previous satellites. This provides the resolution to identify sea ice floe regions, and open ocean lead regions between floes, and to measure their surface elevations. Over sea ice, CryoSat echoes are assumed to scatter from the interface between the ice surface and the layer of overlying snow. During summer melting ponds irritate the radar and the service is suspended.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery"> 
                    <div class="row" data-name="cryosat">

                        <div class="col-xs-12 col-sm-8">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="http://www.cpom.ucl.ac.uk/csopr/sidata/thk_28_big.png" itemprop="contentUrl" data-size="860x960">
                                    <img src="//ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=22,10,20,84&width=480&keep=14400&url=http://www.cpom.ucl.ac.uk/csopr/sidata/thk_28.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption itemprop="caption description">CryoSat 2 - 2016 latest</figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="http://www.cpom.ucl.ac.uk/csopr/sidata/thk_2015_1.png" itemprop="contentUrl" data-size="860x960">
                                    <img src="//ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=22,10,20,84&width=220&keep=14400&url=http://www.cpom.ucl.ac.uk/csopr/sidata/thk_2015_1.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption itemprop="caption description">CryoSat 2 - 2015-Jan</figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="http://www.cpom.ucl.ac.uk/csopr/sidata/thk_2014_Spring_big.png" itemprop="contentUrl" data-size="860x960">
                                    <img src="//ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=24,18,20,126&width=220&keep=14400&url=http://www.cpom.ucl.ac.uk/csopr/sidata/thk_2014_Spring_big.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption itemprop="caption description">CryoSat 2 - Spring 2014</figcaption>
                             </figure>
                        </div>

                    </div>
                </div>

            </div>



        <!-- MODIS 2 * 50%-->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a href="https://nsidc.org/data/nsidc-0611" target="_blank"><div><strong>NASA/LANCE</strong></div>Daily Satellite Images (MODIS)</a> A true color image is generated each day for Terra and Aqua. A 721 bands false-color image is also generated for Terra. The image is composed of data collected during a single day (UTC time). Because Aqua and Terra are in a polar orbit, MODIS captures many images of Arctic throughout the day. To select the data used in the mosaic, the Rapid Response System chooses the data that are closest to the center of each swath, where edge distortion is minimized. This mosaicing technique creates the diagonal lines that give the image its "pie slice" appearance.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="modis">
                      
                        <div class="col-xs-6">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="" data-off="-1d http://rapidfire.sci.gsfc.nasa.gov/imagery/subsets/?mosaic=Arctic.%Y%j.terra.4km.jpg" itemprop="contentUrl" data-size="1536x1536">
                                    <img src="" data-off="-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=0,0,0,0&width=220&keep=14400&url=http://rapidfire.sci.gsfc.nasa.gov/imagery/subsets/?mosaic=Arctic.%Y%j.terra.4km.jpg" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-1d Terra (true color) %Y-%m-%d" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="" data-off="-1d https://lance.modaps.eosdis.nasa.gov/imagery/subsets/?mosaic=Arctic.%Y%j.terra.721.4km.jpg" itemprop="contentUrl" data-size="1536x1536">
                                    <img src="" data-off="-1d //ice-pics.appspot.com/pics/?mime=jpg&qual=30&crop=0,0,0,0&width=220&keep=14400&url=https://lance.modaps.eosdis.nasa.gov/imagery/subsets/?mosaic=Arctic.%Y%j.terra.721.4km.jpg" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-1d Terra (721 bands) %Y-%m-%d" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>
</section>







<!-- TRENNER -->

<section id="weather-header" class="trenner grey parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="text-left">Atmosphere, Weather, Temperatures</h2>
            </div>
            <div class="col-xs-4 text-right">
                <!-- <i class="fa fa-info-circle section-tool" title="Info"></i> -->
            </div>
        </div>
    </div>      
</section>



<!-- WEATHER section -->

<section id="weather" class="parallax-section" >
    <div class="container">
        <div class="data-gallery" itemscope itemtype="http://schema.org/ImageGallery">


        <!-- Chart Zonal Mean full size -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/stratosphere/strat-trop/"><div><strong>NOAA/NCEP/CPC Stratosphereic Monitoring</strong></div>NH Zonal Mean Temperature</a> The NCEP GDAS and CPC temperature and height analyses are used to monitor processes in the Stratosphere and Troposphere.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="zonalmean">
                        
                        <div class="col-xs-12 col-sm-6">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="+0Y //ice-pics.appspot.com/pics/?url=http://www.cpc.ncep.noaa.gov/products/stratosphere/strat-trop/gif_files/time_pres_TEMP_MEAN_ALL_NH_%Y.png" href="" itemprop="contentUrl" data-size="864x432">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?width=320&mime=png&amp;url=http://www.cpc.ncep.noaa.gov/products/stratosphere/strat-trop/gif_files/time_pres_TEMP_MEAN_ALL_NH_%Y.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Mean T %Y" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-1Y //ice-pics.appspot.com/pics/?url=http://www.cpc.ncep.noaa.gov/products/stratosphere/strat-trop/gif_files/time_pres_TEMP_MEAN_ALL_NH_%Y.png" href="" itemprop="contentUrl" data-size="864x432">
                                    <img src="" data-off="-1Y //ice-pics.appspot.com/pics/?width=320&mime=png&amp;url=http://www.cpc.ncep.noaa.gov/products/stratosphere/strat-trop/gif_files/time_pres_TEMP_MEAN_ALL_NH_%Y.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-1Y Mean T %Y" itemprop="caption description"></figcaption>
                             </figure>
                        </div>


                    </div>
                </div>
                
            </div>


        <!-- Chart DMI 80Temps full size -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://ocean.dmi.dk/arctic/index.uk.php"><div><strong>Danish Meteorological Institute (DMI)</strong></div>Temperature +80°North</a> Daily mean temperatures for the Arctic area north of the 80th northern parallel, plotted with daily climate values calculated from the period 1958-2002.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="dmitemps">
                
                        <div class="col-xs-12 col-sm-8">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" href="" itemprop="contentUrl" data-size="600x400">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&width=320&url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Temperatures %Y" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-1Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" href="" itemprop="contentUrl" data-size="600x400">
                                    <img src="" data-off="-1Y //ice-pics.appspot.com/pics/?mime=png&width=220&url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-1Y Temperatures %Y" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-2Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" href="" itemprop="contentUrl" data-size="600x400">
                                    <img src="" data-off="-2Y //ice-pics.appspot.com/pics/?mime=png&width=220&url=http://ocean.dmi.dk/arctic/plots/meanTarchive/meanT_%Y.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-2Y Temperatures %Y" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                    </div>
                </div>  

            </div>



        <!-- IceTemps -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://ocean.dmi.dk/anim/index.uk.php"><div><strong>Danish Meteorological Institute (DMI)</strong></div>Modelled Ice Temperatures</a>, most recent ocean forecast, produced by the DMI wave model WAM and 3D ocean models HBM and HYCOM.
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="icetemps">
                
                        <div class="col-xs-12 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/anim/plots/icetemp.arc.25.png" href="" itemprop="contentUrl" data-size="640x480">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=jpg&qual=30&width=320&amp;crop=80,30,130,50&amp;url=http://ocean.dmi.dk/anim/plots/icetemp.arc.25.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Ice Temperatures, today" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/anim/plots/icetemp.arc.73.png" href="" itemprop="contentUrl" data-size="640x480">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=jpg&qual=30&width=220&amp;crop=80,30,130,50&amp;url=http://ocean.dmi.dk/anim/plots/icetemp.arc.73.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Ice Temperatures, +2 days" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://ocean.dmi.dk/anim/plots/icetemp.arc.121.png" href="" itemprop="contentUrl" data-size="640x480">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=jpg&qual=30&width=220&amp;crop=80,30,130,50&amp;url=http://ocean.dmi.dk/anim/plots/icetemp.arc.121.png" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Ice Temperatures, +4 days" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                    </div>
                </div>  

            </div>


        <!-- Observations -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://www.wetterzentrale.de/topkarten/fsbeobl.html"><div><strong>Wetterzentrale.de</strong></div>Observations</a> from Arctic Weatherstations
                </div>

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="observations">
                
                        <div class="col-xs-12 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://www.wetterzentrale.de/pics/Rarcmapt.gif" href="" itemprop="contentUrl" data-size="928x776">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&width=320&amp;url=http://www.wetterzentrale.de/pics/Rarcmapt.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Temperatures, latest" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://www.wetterzentrale.de/pics/Rarcmapx.gif" href="" itemprop="contentUrl" data-size="667x728">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&width=320&amp;url=http://www.wetterzentrale.de/pics/Rarcmapx.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Weather, latest" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="-0Y //ice-pics.appspot.com/pics/?url=http://www.wetterzentrale.de/pics/Rarcmapw.gif" href="" itemprop="contentUrl" data-size="667x728">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&width=320&amp;url=http://www.wetterzentrale.de/pics/Rarcmapw.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y Wind, latest" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                    </div>
                </div>  

            </div>


        <!-- Anomaly Probs -->
            <div class="row">

                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 data-description">
                    <a target="_blank" href="http://www.esrl.noaa.gov/psd/map/images/ens/ens.html"><div><strong>NOAA/OAR/ESRL</strong></div>850mb Temperature Anomaly Probability</a> PSD Map Room Weather Products, provided by the NOAA/OAR/ESRL PSD, Boulder, Colorado, USA.
                </div>
                
                <div class="col-xs-offset-0 col-xs-12  col-sm-offset-0 col-sm-8 col-lg-7 data-gallery">
                    <div class="row" data-name="anomprob">


                        <div class="col-xs-12 col-sm-8">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="+0Y http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f000_nhsm.gif" href="" itemprop="contentUrl" data-size="600x776">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&crop=100,140,100,140&width=480&keep=14400&url=http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f000_nhsm.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y 850mb Temperature Anomaly Probability +24h" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="+1Y http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f072_nhsm.gif" href="" itemprop="contentUrl" data-size="600x776">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&crop=100,140,100,140&width=320&keep=14400&url=http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f072_nhsm.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y 850mb Temperature Anomaly Probability +72h" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a data-off="+2Y http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f120_nhsm.gif" href="" itemprop="contentUrl" data-size="600x776">
                                    <img src="" data-off="-0Y //ice-pics.appspot.com/pics/?mime=png&crop=100,140,100,140&width=320&keep=14400&url=http://www.esrl.noaa.gov/psd/map/images/ens/t850std2_f120_nhsm.gif" itemprop="thumbnail" alt="" />
                                </a>
                                <figcaption data-off="-0Y 850mb Temperature Anomaly Probability +120h" itemprop="caption description"></figcaption>
                             </figure>
                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>
</section>
