<!-- STICKY section -->

<section id="sticky" class="parallax-section">
	<div class="container">

		<div class="row">

 			<div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
				<h3>
					Update, July 13th, 2018, Sentinel 2 Arctic Map, Full MODIS Archive
				</h3>
				<p>
					<a href="https://www.esa.int/Our_Activities/Observing_the_Earth/Copernicus/Sentinel-2">ESA's Sentinel 2 Satellites</a> provide true color images with a maximum resolution of 10m/pixel. Which allows to observe a whole new level of detail - runways, houses and similar sized features. The swaths captured by the instruments do not completely cover the Arctic during a single day, thus the star like shaped composite image at low zoom levels.
				</p>
			</div>
		</div>
		<div class="row">

 			<div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
				<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
					<a href="/articles/sentinel.up.png" itemprop="contentUrl" data-size="512x512">
					    <img src="/articles/sentinel.up.png" style="width: 48%; float: left; margin: 8px 0 16px 0" itemprop="thumbnail" alt=""/>
					</a>
				</figure>
				<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
					<a href="/articles/sentinel-down.png" itemprop="contentUrl" data-size="900x900">
					    <img src="/articles/sentinel-down.png" style="width: 48%; float: right; margin: 8px 0px 16px 0" itemprop="thumbnail" alt=""/>
					</a>
				</figure>
			</div>

		</div>
		<div class="row">
 			<div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
				<p>
					Links: <a href="/explorer/6oN7c/2018-07-10/1-N83.31102-E125.83765"> Overview - 2018-07-10, <a href="/explorer/6oN7c/2018-07-06/9-N75.58228-W119.04363">Detail - Fitzwilliam Strait - 2018-07-06</a>
				</p>
				<p>
					Another part of this update adds the full MODIS archive to the Explorer. Now Arctic coverage is available starting from the year 2000 - in true or false color and infrared.
				</p>
			</div>

 			<div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
				<h3>
					Update, May 29th, 2016
				</h3>
				<p>
					Since May 11th, 2016 the GFS model is <a target="_blank" href="http://www.noaa.gov/noaa%E2%80%99s-premier-forecast-model-goes-four-dimensional">truely 4D</a> and delivers hourly guidance. I've connected the charts module of the weather simulation with this high resolution source of weather data to display these variables: 2m temperature, surface wind speed incl. gusts, precipitation, long and short wave downward radiation flux.
				</p>
				<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
					<a href="/articles/ambarchik.jpg" itemprop="contentUrl" data-size="1180x638">
					    <img src="/articles/ambarchik.jpg" style="width: 50%; float: left; margin: 8px 24px 16px 0" itemprop="thumbnail" alt=""/>
					</a>
				</figure>
				<p>
					Here is an interesting example of strongly raising temperatures in the next days close to <a href="/explorer/6oN7g//7-N70-E162">Ambarchik</a>, Siberia. 
				</p><p>
					Fetching the data from the hourly model takes a little bit longer, up to ten seconds in some cases - thanks for your patience.
				</p>
			</div>

 			<div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
				<h3>
					Relaunch, May 15th, 2016
				</h3>
				<p>
					It was about time to spend this site a face lifting. Mobile Internet access became mainstream, the planet warmed by some more centigrades and many blogs and even portals (in <a href="http://polarportal.dk/forsiden/">Danish</a>, <a href="http://www.meereisportal.de/">German</a>, <a href="https://diablobanquisa.wordpress.com/">Spanish</a>, <a href="http://arcticicesea.blogspot.de/">Polish</a>, <a href="http://arctic-news.blogspot.de/">English</a>) appeared reporting the state of the Arctic's cryosphere. So, a few experiments have been dropped and a <a href="/#simulation" class="smoothScroll">weather simulation</a> has been added. 
				</p>
				<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
					<a href="/images/content/giss-overshooting-16-04.png" itemprop="contentUrl" data-size="1200x600">
					    <img src="/images/content/giss-overshooting-16-04.jpg" style="width: 50%; float: left; margin: 8px 24px 16px 0" itemprop="thumbnail" alt=""/>
					</a>
				</figure>
				<p>
					All high level information and data is now concentrated on this start page. The <a href="/explorer/">explorer</a> has changed a little and many visitors will appreciate that the <a href="/maps/circumpolar/">circumpolar map</a> + <a href="/maps/bathymetry/">bathymetry</a> are back. In future there will be little blogging - <a href="https://twitter.com/arcticio">tweeting</a> is much more fun. However, comprehensive articles are in the pipeline, e.g. why the pre-industrial baseline starts here way before 1850.
				</p><p>
					The plan was to update all past blogs before launch, but the Arctic set new priorities in recent weeks. The weather simulation is too useful to wait for any longer. So, old blogs will re-appear as time allows. During the migration is the atom feed disabled. 
				</p><p>
					Cheers, <br /><br /> 
					--Torsten, (tb)at(arctic.io)
				</p>
			</div>
			
		</div>

	</div>		
</section>