{% extends "base.html" %}
{% block first_column %}


  <div class="post">
      <h2>Search Results '{{ search_term }}'</h2>
  </div>
  <div class="col460 postContent clear">

    <div id="cse" style="width: 100%;">Loading...</div>
    <style type="text/css">
      div.gs-snippet   {font-size: 14px; line-height: 18px;}
      div.gs-snippet b {font-size: 14px; line-height: 18px; letter-spacing: 2px}
    </style>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      function parseQueryFromUrl () {
        var queryParamName = "s";
        var search = window.location.search.substr(1);
        var parts = search.split('&');
        for (var i = 0; i < parts.length; i++) {
          var keyvaluepair = parts[i].split('=');
          if (decodeURIComponent(keyvaluepair[0]) == queryParamName) {
            return decodeURIComponent(keyvaluepair[1].replace(/\+/g, ' '));
          }
        }
        return '';
      }
      google.load('search', '1', {language : 'en'});
      // google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-22811255-1"]);
      function _trackQuery(control, searcher, query) {
        var gaQueryParamName = "q";
        var loc = document.location;
        var url = [
          loc.pathname,
          loc.search,
          loc.search ? '&' : '?',
          gaQueryParamName == '' ? 'q' : encodeURIComponent(gaQueryParamName),
          '=',
          encodeURIComponent(query)
        ].join('');
        _gaq.push(["_trackPageview", url]);
      }
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('003901884392832889796:l1frkzwfo9o');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.setSearchStartingCallback(null, _trackQuery);
        var options = new google.search.DrawOptions();
        options.setAutoComplete(true);
        options.enableSearchResultsOnly();
        customSearchControl.draw('cse', options);
        var queryFromUrl = parseQueryFromUrl();
        if (queryFromUrl) {
          customSearchControl.execute(queryFromUrl);
        }
      }, true);
    </script>

  </div>



{% endblock %}
