
#article p.md-tldr {
	font-size: 130%;
	line-height: 130%;
}


#article blockquote p.md-move-left {
    margin-left: -20%;
    width: 60%;
    border-left: 1px solid #888;
    padding-left: 12px;
    float: left;
    padding-right: 12px;
    font-family: monospace;
    font-size: 90%;
}