{% extends "base.html" %}

{% block home %}

<!-- HOME section -->

<section id="disaster" class="parallax-section sec-pic-burning" >
  <div class="container">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Error 404</h1>
        <h2>Disaster happen ...</h2>
        <p>Sorry, the page you tried to access isn't available.</p>
        <p>&nbsp;</p>
        <p style="letter-spacing: 0;">
        	In case you're looking for the satellite maps choose 'Explorer' in the top menu.<br />
        	In all other cases the logo will do.
        </p>
      </div>
    </div>
  </div>    
</section>

{% endblock %}
